html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font;
  color: map-get($color, 'text');
  font-size: $size;
  line-height: $height;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
