html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", "Arial", sans-serif;
    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link{
    display: block;
    text-decoration: none;

}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.conteiner{
    width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    background-color: #3a3e64;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}

.page-nav {
    min-height: 100px;
}

.site-logo {
    display: block;
    animation: logo-appear 1.5s linear;
}

@keyframes logo-appear{
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }

    50%{
        transform: translateY(0);
        opacity: 1;
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

.site-navigation {
    font-size: 13px;
}

.site-navigation__link {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    transition: color 0.3s linear;

}

.site-navigation__link:hover,
.site-navigation__link:focus {
    color: #e84545     
}

.section {
    margin-bottom: 120px;
}

.feature__item {
    width: 290px;  
    text-align: center;
}

.feature__item::before{
    content: "";
    display: block;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 34px;
}

.feature__icon--tool::before{
    background-image: url(https://raw.githubusercontent.com/luxplanjay/html-css-source-code/master/module-04/practise/img/icons/features/icon-tools.png);
}

.feature__icon--atom::before{
    background-image: url(https://raw.githubusercontent.com/luxplanjay/html-css-source-code/master/module-04/practise/img/icons/features/icon-atom.png);
}

.feature__icon--bulp::before{
    background-image: url(https://raw.githubusercontent.com/luxplanjay/html-css-source-code/master/module-04/practise/img/icons/features/icon-bulb.png);
}

.feature__icon--case::before{
    background-image: url(https://raw.githubusercontent.com/luxplanjay/html-css-source-code/master/module-04/practise/img/icons/features/icon-case.png);
}

.feature__icon--comp::before{
    background-image: url(https://raw.githubusercontent.com/luxplanjay/html-css-source-code/master/module-04/practise/img/icons/features/icon-computer.png);
}

.feature__icon--download::before{
    background-image: url(https://raw.githubusercontent.com/luxplanjay/html-css-source-code/master/module-04/practise/img/icons/features/icon-download.png);
}


.feature__item:nth-child(3n) {
    margin-right: 0;
}

.feature__title {
    margin-bottom: 24px;
    color: #2d3033;
    line-height: 17px;  
    font-size: 14px; 
}

.team__item {
    width: 270px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
    transition: transform 0.3s ease-in,
                box-shadow 0.3s linear;
}

.team__item:hover{
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12),
    0 10px 10px rgba(0,0,0, 0.22);
} 

.team__item-image{
    filter: grayscale(1);
    transition: filter 0.3s ease-out;
}

.team__item:hover .team__item-image {
    filter: grayscale(0);
}

.team__item-name{
    font-size: 22px;
    line-height: 26px;
    color: #2d3033;
}

.team__item-occupation{
    font-size: 13px;
    line-height: 16px;
    color: #e84545;
    text-transform: uppercase;
}

.socials {
    display: flex;
    flex-wrap: wrap;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(232, 236, 238);
}

.socials__link:hover .socials__icon{
    fill: #e84545;
}

.socials__icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    fill: #c6cacc;
    transition: fill 0.3s linear; 
}

.socials__item {
    margin-right: 4px;
}

.page-footer{
    color: #ffffff;
    background-color: #3a3e64;
}

.page-footer__conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 240px;
}

.button{
    border: none;
    margin: 0; 
    padding: 0;
    cursor: pointer;
}

.download__button{
    padding: 14px 82px;
    background-color: #e84545;
    font-size: 13px;
    line-height: 21px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
  }



/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
