.features {
    margin-bottom: 202px;
  }
  
  .features__gallery {
    width: 50%;
    height: 540px;
    background-image: url('../images/img6.jpg');
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
  }
  
  .features__images {
    display: block;
    width: 350px;
    height: 453px;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 30px 80px 130px rgba(0, 0, 0, 0.25);
  }
  
  .features__content {
    margin-left: 80px;
    margin-top: 30px;
  }
  
  .features__content--title {
    margin-bottom: 30px;
  }
  
  .features__content--text {
    margin-bottom: 52px;
  }
  
  .features__content--link {
    display: block;
    padding-left: 83px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 30px;
    padding-bottom: 18px;
    padding-top: 18px;
  }
  
  .features__content--first {
    background: url('../images/icon100.svg') no-repeat left center;
  }
  
  .features__content--second {
    background: url('../images/bag.svg') no-repeat left center;
  }
  