.main {
    padding-top: 137px;
  }
  
  .problem {
    margin-bottom: 142px;
  }
  
  .problem__about {
    margin-bottom: 61px;
  }
  
  .problem__about--title {
    font-size: 38px;
    margin-bottom: 30px;
  }
  
  .problem__author {
    background-image: url('../images/author.jpg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    padding: 7px 0 7px 96px;
  }
  
  .problem__author--title {
    font-size: 22px;
  }
  
  .problem__author--text {
    margin-bottom: 0;
  }