.testimonial {
    margin-bottom: 176px;
  }
  
  .testimonial__title {
    margin-bottom: 121px;
  }
  
  .testimonial__content--text {
    margin-bottom: 73px;
  }
  
  .testimonial__content--title{
    font-size: 38px;
  }
  
  .testimonial__author--title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .testimonial__image {
    display: block;
  }
  
  .contributor-carousel .owl-nav {
    display: flex;
    margin-top: -50px;
    position: relative;
  }
  
  .contributor-carousel .owl-prev {
    margin-right: 25px;
  }
  