.page-header {
height: 1000px;
  background-image: linear-gradient(
    0deg,
    rgba(251, 227, 137, 0.9) 0%,
    rgba(243, 138, 129, 0.9) 100%
  ),
  url(../images/Layer_15_1922.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 25px;
  margin-bottom: 50px;
}
