%link {
    display: block;
    text-decoration: none;
  }
  
  %list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  %button {
    outline: none;
    border: none;
    margin: 0;
    cursor: pointer;
  }
  
  %text {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  %title {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }