$font:'Montserrat', 'Roboto', 'Droid', 'Wisdom', sans-serif;

$height: 1;

$bold: 700;
$regular: 400;
$light: 300;

$size: 14px;


$color: (
  'white': #ffffff,
  'subtext': #777777,
  'text': #222222,
  'accent': #fed136,
  'form': #bbbbbb
);

$icons: basket, laptop, locked;
